*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-size: 15px;
    font-family: "League Spartan", sans-serif;
}


/* header */

header{
    text-align: center;
    color: hsl(300, 43%, 22%);
}
 
.head{
    margin: 1em auto;
    max-width: 279px;
}

.hero h1{
    font-size: 2.1em;
}

.hero{
    margin: 4em auto 1em auto;
}

.subhero p{
    color:   hsl(303, 10%, 53%);
}


/* review sections */

.sections{
    margin-bottom: 2em;
}

.section{
    background-color: hsl(300, 24%, 96%);
    margin: 0 auto 1em auto;
    text-align: center;
    max-width: 279px;
    padding: 1em;
    border-radius: 5px;

}

.section:last-of-type{
    margin: 0 auto 0 auto
}

.section p{
    color: hsl(300, 43%, 22%);
    font-weight: bold;
}





