*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-size: 15px;
    font-family: "League Spartan", sans-serif;
}


/* header */

header{
    text-align: center;
    color: hsl(300, 43%, 22%);
}

.head{
    margin: 1em auto;
    max-width: 279px;
}

.hero h1{
    font-size: 2.1em;
}


/* review sections */





