*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-size: 15px;
    font-family: "League Spartan", sans-serif;
}


/* header */

header{
    text-align: center;
    color: hsl(300, 43%, 22%);
}
 
.subhero{
    margin: 1em 2.7em;
    padding: 0.5em;
}

.hero h1{
    font-size: 2.1em;
}

.hero{
    margin: 4em 4em 1em 4em;
}

.subhero p{
    color:   hsl(303, 10%, 53%);
}


/* review sections */

.sections{
    margin-bottom: 2em;
}

.section{
    background-color: hsl(300, 24%, 96%);
    margin: 0 2.7em 1em 2.7em;
    text-align: center;
    padding: 1em;
    border-radius: 5px;

}

.section:last-of-type{
    margin: 0 2.7em
}

.section p{
    color: hsl(300, 43%, 22%);
    font-weight: bold;
    margin-top: 0.5em;
}

svg{
    margin-right: 0.3em;
}


/* buyer section */

.buyers{
    margin-bottom: 5em;
}

.customer{
    margin: 0 2.7em 1em 2.7em;
    background-color: hsl(300, 43%, 22%);
    border-radius: 5px;
    padding: 2em;
}

.description{
    color: white;
}

.profile{
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    gap: 2em;
}

img{
    border-radius: 45px;
    width: 2.5em;
}

.pname{
    line-height: 1.2;
}

.pn{
    color: white;
}

.pb{
    color: hsl(333, 80%, 67%);
}





